<div class="format">
    <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="../../../assets/img/go.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Gastos Operativos</h5>
            <p class="card-text">Relación de gastos corrientes y necesarios.</p>
            <button class="button-card"><a [routerLink]="['/gastosoperativos']">Ver mas...</a></button>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="../../../assets/img/fun.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recreación</h5>
            <p class="card-text">Relación de gastos relativos al esparcimiento y recreación.</p>
            <button class="button-card"><a [routerLink]="['/recreacion']">Ver mas...</a></button>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="../../../assets/img/inversion.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Inversión</h5>
            <p class="card-text">Relación de inversiones efectuadas.</p>
            <button class="button-card"><a [routerLink]="['/inversion']">Ver mas...</a></button>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="../../../assets/img/ahorro.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ahorro</h5>
            <p class="card-text">Dinero destinados al ahorro producto de los ingreso.</p>
            <button class="button-card"><a [routerLink]="['/ahorro']">Ver mas...</a></button>
        </div>
    </div>
</div>    

